# Django
http://www.djangoproject.com/download/1.2.3/tarball/

# Reportlab
http://www.reportlab.com/ftp/reportlab-2.3.tar.gz

# Pisa
pisa

# Html5lib
html5lib

# Admin wmd editor
#-e git+git://github.com/stephrdev/django-admin-wmdeditor.git#egg=admin_wmdeditor
